.machine {
  position: relative;
  white-space: nowrap;
  height: 360px;
  margin: 40px 0px;
}

.scroll-x {
  overflow-x: auto;
  /* For some reason, this is needed or else children input outlines are cut off... */
  margin: -5px;
  padding: 5px;
}

.machine-grid {
  display: inline-grid;
  column-gap: 2px;
  row-gap: 10px;
  /* Six rows: state, cells, tape head X2. */
}

input,
i {
  display: none;
}

input {
  cursor: pointer;
}

[id*="TAPE_VALUE_PREFIX"],
p {
  appearance: none;
  color: white;
  background-color: rgb(66, 139, 202);
  font-family: "Courier New";
  font-size: 28px;
  line-height: normal;
  padding: 5px 12px;
  margin: 0px;
  grid-row: 2;
}

p+p {
  grid-row: 5;
}

[id*="TAPE_VALUE_PREFIX"]::before,
p::before {
  content: "0";
}

[id*="TAPE_VALUE_PREFIX"]:checked::before,
:checked+*+*+*+*+*+p::before {
  content: "1";
}

/* Unlike with checkboxes, we can display radio buttons without the user being able to toggle them (by hiding all other options). */
[id*="HEAD_POS_PREFIX"] {
  display: block;
  position: relative;
  top: -18px;
  appearance: none;
  pointer-events: none;
  color: #444;
  font-family: "Courier New";
  font-size: 28px;
  margin: 0px 0px 20px 0px;
  text-align: center;
  grid-row: 3;
}

[id*="BUFFER_PREFIX1HEAD_POS_PREFIX"] {
  grid-row: 6;
}

[id*="HEAD_POS_PREFIX"]:not(:checked) {
  visibility: hidden;
}

[id*="HEAD_POS_PREFIX"]::before {
  content: "▲";
}

label {
  display: none;
  cursor: pointer;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-family: "Segoe UI";
  font-size: 16px;
  color: white;
  text-align: center;
  background-color: #22c55e;
  width: 115px;
  padding: 6px 0px;
  border-radius: 6px;
}

label:hover {
  background-color: #16a34a;
}

label::before {
  content: "Execute Step";
}

[for="STARTED_ID"]::before {
  content: "Start";
}

/* Label ordering: start -> tape value -> tape head -> state -> switch buffer. */
[for="STARTED_ID"],
[for*="TAPE_VALUE_PREFIX"] {
  z-index: 2;
}

[for*="HEAD_POS_PREFIX"] {
  z-index: 1;
}

/* Reuse some of the dummy elements to display the state. */
p+i,
p+i+i {
  display: block;
  font-style: normal;
  grid-row: 1;
  grid-column: 1 / 15;
}

i::before {
  content: "State: ";
}

p+i+i {
  grid-row: 4;
}

/* Show the start label initially. */
#STARTED_ID:not(:checked)~[for="STARTED_ID"] {
  display: block;
}

/* Allow the user to toggle the top row tape cell inputs before starting. */
#STARTED_ID:not(:checked)~[id*="BUFFER_PREFIX0TAPE_VALUE_PREFIX"] {
  display: block;
}

/* Hide display cells/bottom tape head before starting. */
#STARTED_ID:not(:checked)~p,
#STARTED_ID:not(:checked)~[id*="BUFFER_PREFIX1HEAD_POS_PREFIX"] {
  display: none;
}

/* Use the second state label to show a help message before starting. */
#STARTED_ID:not(:checked)~p+i+i::before {
  content: "Set the initial tape input by clicking on the squares above.";
}

/* Fade the top elements after starting and the bottom is the destination. */
#STARTED_ID:checked~#BUFFER_SWITCH_ID:not(:checked)~:not(p)+p,
#STARTED_ID:checked~#BUFFER_SWITCH_ID:not(:checked)~[id*="BUFFER_PREFIX0HEAD_POS_PREFIX"],
#STARTED_ID:checked~#BUFFER_SWITCH_ID:not(:checked)~p+i {
  opacity: 0.5;
}

/* Fade the bottom elements when the top is the destination and swap positions. */
#BUFFER_SWITCH_ID:checked~p+p,
#BUFFER_SWITCH_ID:checked~[id*="BUFFER_PREFIX1HEAD_POS_PREFIX"],
#BUFFER_SWITCH_ID:checked~p+i+i {
  opacity: 0.5;
  transform: translate(0px, -151px);
}

#BUFFER_SWITCH_ID:checked~:not(p)+p,
#BUFFER_SWITCH_ID:checked~[id*="BUFFER_PREFIX0HEAD_POS_PREFIX"],
#BUFFER_SWITCH_ID:checked~p+i {
  transform: translate(0px, 151px);
}

* {
  transition: opacity, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}