input, label {
  display: none;
}

label {
  cursor: pointer;
}

#machine {
  position: relative;
  overflow: auto;
  white-space: nowrap;
  height: 430px;
  user-select: none;
}

#s:not(:checked) ~ [for=s] {
  display: inline;
}

#s:checked ~ :last-child {
  display: none;
}

[for=s]::before {
  content: "Start";
}

#machine > p::before {
  content: "State: ";
}