.instructions {
  margin-bottom: 40px;
}

.tape-cell-label {
  font-family: sans-serif;
  font-size: 14px;
  color: #222;
}

.tape-cell-input {
  width: 3em;
}

.tape-cell-info {
  color: #555;
}

.top-spacing {
  margin-top: 20px;
}