.addButton {
  margin-bottom: 12px;
}

.tape-cell-label {
  font-family: sans-serif;
  font-size: 14px;
  color: #222;
}

.tape-cell-input {
  width: 36px;
}

.bottom-spacing {
  margin-bottom: 20px;
}